.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
  min-width: 100%;

  background-color: #f5f5f5;

  .section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;

    padding: 2rem;

    border: 1px solid #e5e5e5;

    span {
      margin: 0 1rem;
    }
  }
}
