.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: 550px) {
    margin: 3rem 0;
  }

  .text {
    @media (max-width: 550px) {
      text-align: center;
    }
    @media (min-width: 550px) {
      text-align: right;
    }

    h1 {
      margin: 0;
    }

    p {
      font-size: 1.25rem;
      color: #444444;
      font-weight: 300;
      margin: 0;
    }
  }

  img {
    width: 40%;
    height: 40%;
    object-fit: scale-down;

    @media (max-width: 550px) {
      display: none;
    }
  }
}
