.card {
  height: auto;
  padding: var(--spacing);

  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 0.75rem 0 rgba(0,0,0,0.1);

  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: stretch;

  .image-container {
    height: 6rem;
    width: 6rem;
    overflow: hidden;
    border-radius: 0.25rem;

    img {
      object-fit: cover;
      overflow: hidden;
    }
  }

  .info-container {
    flex-grow: 999;

    p {
      margin: 0;

      &.heading {
        margin-top: 0;
        margin-bottom: 0.5rem;

        font-weight: 500;
        color: var(--dark-grey);
        text-decoration: underline var(--accent);
      }
    }

    .technologies-container {
      margin: 0.5rem 0;
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  }

  .view-project-container {
    cursor: pointer;
    display: flex;
    align-items: center;

    .icon {
      margin: auto 1rem;

      font-size: 1.5rem;
      color: var(--grey);
    }
  }
}


