<div class="my-card rounded-lg bg-white p-4 shadow">
  <div class="flex flex-row items-stretch justify-center gap-4">
    <!--  Image of the project-card-->
    <div class="flex-none">
      <img
        src="{{ project.image }}"
        alt="{{ project.name }}"
        class="image h-16 w-16 min-[350px]:h-24 min-[350px]:w-24 overflow-hidden rounded object-cover"
      />
    </div>

    <div class="flex-grow">
      <p>
        <a
          *ngIf="!project.externalLink"
          class="mb-2 mr-2 font-medium underline decoration-accent decoration-2 accent-gray-700"
          routerLink="{{ project.routerLink }}"
          routerLinkActive="active"
        >
          {{ project.name }}
        </a>
        <a
          *ngIf="project.externalLink"
          class="mb-2 mr-2 font-medium underline decoration-accent decoration-2 accent-gray-700"
          href="{{ project.externalLink }}"
        >
          {{ project.name }}
        </a>
        <span class="year text-sm">
          {{ project.year }}
        </span>
      </p>
      <p>{{ project.description }}</p>

      <!--  Technologies used in the project -->
      <div
        *ngIf="project.technologies?.length"
        class="mt-2 flex flex-wrap gap-2"
      >
        <app-technology-chip
          *ngFor="let technology of project.technologies"
          [technology]="technology"
        />
      </div>
    </div>

    <!--  Link to the project -->
    <a
      *ngIf="!project.externalLink"
      class="hidden flex-none cursor-pointer items-center sm:flex"
      [routerLink]="project.routerLink"
    >
      <ng-icon
        name="faSolidArrowRight"
        class="mx-auto my-4 text-2xl text-gray-500"
      />
    </a>
    <a
      *ngIf="project.externalLink"
      class="hidden flex-none cursor-pointer items-center sm:flex"
      [href]="project.externalLink"
    >
      <ng-icon
        name="faSolidArrowRight"
        class="mx-auto my-4 text-2xl text-gray-500"
      />
    </a>
  </div>
</div>
