<h2 class="text-center">3D-prints</h2>

<p class="mb-4 text-center">
  In my spare time I like to create 3D-printed and painted figurines. I use a
  Creality CR10S-Pro to make prints and use acrylic paints to finish them off.
  See the gallery below for some of my creations.
</p>

<div class="flex flex-row flex-wrap gap-4">
  <app-print-card
    *ngFor="let print of visiblePrints"
    [print]="print"
    class="basis-full min-[320px]:basis-[calc((100%-1rem)/2)] sm:basis-[calc((100%-2rem)/3)]"
    data-aos="fade-up"
    data-aos-delay="200"
  />
</div>

<div
  class="mt-4 flex items-center justify-center gap-4"
  *ngIf="visibleNumber < prints.length"
  data-aos="fade-up"
>
  <button
    class="rounded bg-white px-3 py-2 text-sm text-gray-700 shadow"
    (click)="onShowMore()"
  >
    Show more...
  </button>

  <button
    class="rounded bg-white px-3 py-2 text-sm text-gray-700 shadow"
    (click)="onShowAll()"
  >
    Show all
  </button>
</div>
