<a
  href="{{technology.link}}"
  target="_blank"
  (mouseover)="hover = true"
  (mouseout)="hover = false"
>
  <div
    class="container"
    [ngStyle]="{
      'border-color': technology.color,
      'color': hover ? 'white' : technology.color,
      'background-color': hover ? technology.color : ''
    }">
    <ng-icon
      *ngIf="technology.icon"
      name="{{ technology.icon }}"/>
    <img
      *ngIf="technology.iconImage"
      [src]="technology.iconImage"
      alt="{{ technology.name }}"/>
    <span>{{ technology.name }}</span>
  </div>
</a>
