.container {
  height: 16rem;
  padding: 0.5rem;

  border: 1px solid #e6e6e6;

  h3 {
    margin: 0;
    height: 2rem;
  }

  p {
    margin: 0;
    height: 2rem;
  }

  .image-container {
    height: 10rem;
    overflow: hidden;
  }

  img {
    object-fit: cover;
    overflow: hidden;
  }

}


