h2 {
  text-align: center;
}

.filter {
  margin-bottom: var(--spacing);
}

.container {
  width: 100%;
  margin-bottom: var(--spacing);

  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}
