/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: var(--off-white);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-grey);
    text-decoration: underline var(--accent);
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 2.5rem;
  }

  p {
    color: var(--dark-grey);
  }

  .title {
    margin: 0;
    font-weight: 500;
    color: var(--dark-grey);
    text-decoration: underline var(--accent);
    font-size: 0.875rem;
  }

  .year {
    color: var(--very-light-grey);
    font-weight: 300;
    font-style: italic;
  }
}

:root {
  /* color variables */
  --white: #ffffff;
  --off-white: #f5f5f5;
  --very-light-grey: #aaaaaa;
  --light-grey: #888888;
  --grey: #666666;
  --dark-grey: #444444;
  --accent: #ffc800;

  /* spacing variables */
  --spacing-half: 0.5rem;
  --spacing: 1rem;
  --spacing-double: 2rem;

  /* breakpoints for responsiveness */
  --breakpoint: 550px;
}
